<pre>

</pre>



<div class="br-sideleft overflow-y-auto">

  <label class="sidebar-label mg-t-20"> <i class="fa fa-user-o" style="font-size: 15px;margin-left: 21px;">
  </i> {{ currentUser.username
    }}</label>


  <div class="br-sideleft-menu">
    <div class="barre">

    </div>


    <a href="mailbox.html" class="br-menu-link">

      <div class="br-menu-item">

        <a href class="menu-item-label"  (click)="gotoHome()">accueil</a>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a href="card-dashboard.html" class="br-menu-link">
      <div class="br-menu-item">
        <a href class="menu-item-label" (click)="logout()">se deconnecter</a>

      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a href="#" class="br-menu-link">