 <!-- ########## START: HEAD PANEL ########## -->
 <div class="br-header">
    <div class="br-header-left">
      <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href="#">
        <i class="fa fa-bars"></i></a></div>
      <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href="#">
        <i  class="fa fa-bars"></i></a></div>
     
    </div><!-- br-header-left -->
    <div class="br-header-right">
  
     
    </div><!-- br-header-right -->
  </div><!-- br-header -->
  

