<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="!isLoggedIn">
   
  

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" style="color: rgb(255 255 255)" class="nav-link" routerLink="register">S'inscrire</a>
      </li>
      <li class="nav-item">
        <a href="/login" style=" color: rgb(255 255 255)" class="nav-link" routerLink="login">Connexion</a>
      </li>
    </ul>
  </nav>
  <div *ngIf="isLoggedIn">


  </div>


  <div class="container-fuild">

    <router-outlet></router-outlet>
  </div>
</div>