<app-menu-head></app-menu-head>
<app-menu-nav></app-menu-nav>
<div class="br-mainpanel">
  <div class="br-pagebody">
  
    <div class="br-section-wrapper">
      <h1 *ngFor="let tp of tpdata " style="text-align: center;">{{tp?.tp.nom}}</h1><br>
      <div *ngIf="currentFile" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
          attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }">
          {{ progress }}%
        </div>
      </div>

      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)" />
      </label>

      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
        telecharger
      </button>

      <div class="alert alert-light" role="alert">{{ message }}</div>


    </div>
  </div>
</div>